<html>
  <head>
    <link href='style.css' rel='stylesheet' type='text/css' />
    <meta content='text/html; charset=UTF-8' http-equiv='content-type' />
    <title>Chinese Flashcards</title>
  </head>
  <body>
    <div id='cards'>
      <table border='1'>
        <tr class='headings'>
          <th>Traditional</th>
          <th>Simplified</th>
          <th>Pinyin</th>
          <th>English</th>
        </tr>
        <tr class='card_row'>
          <td class='simplified'></td>
          <td class='traditional'></td>
          <td class='pinyin'></td>
          <td class='english'></td>
          <td class='index'>
            <a href='/fc/edit/0'>Edit this card</a>
          </td>
          <td class='delete'>
            <a href='/fc/delete-confirm/0'>Delete this card</a>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
