<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Chinese Flashcards</title>
</head>

<body>

<div id="cards">
<table border="1">
<tr class="headings">
<th> Traditional </th>
<th> Simplified </th>
<th> Pinyin </th>
<th> English </th>
</tr>
<tr class="card_row">
<td class="simp"></td>
<td class="trad"></td>
<td class="pinyin"></td>
<td class="english"></td>
<td class="index">
<a href="/fc/edit/0">Edit this card</a>
</td>
<td class="delete">
<a href="/fc/delete-confirm/0">Delete this card</a>
</td>
</tr>
</table>
</div>
</body>
</html>
