%html
  %head
    %link{:href => url("/style.css"), :rel => "stylesheet", :type => "text/css"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %title Edit a flashcard
  %body
    #edit_card
      %form{:action => url("/fc/update"), :method => "post"}
        %table
          %tr
            %td         
              %input{:name => "index", :type => "hidden", :value => "0"}/
              %label{:for => "simplified"} Simplified Character
            %td
              %input.character{:name => "simplified", :size => "10"}/
          %tr
            %td
              %label{:for => "traditional"} Traditional Character
            %td
              %input.character{:name => "traditional", :size => "10"}/
          %tr
            %td
              %label{:for => "pinyin"} Pinyin
            %td
              %input.pinyin{:name => "pinyin", :size => "20"}/
          %tr
            %td
              %label{:for => "english"} English
            %td
              %input.english{:name => "english", :size => "64"}/
          %tr
            %td{:colspan=>2}
              %button{:name => "submit", :type => "submit"} Update card
    #results
