body{
font-family: GungSeo,PMingLiU,MingLiU,Times New Roman,Times,serif; 
}
tr:nth-child(odd)
{
background-color: #addfff;
}
tr:nth-child(even)
{
background-color: #bdedff;
}
div#lookup
{
font-size: large; 
border: thin solid black;
background-color: #bdedff;
}
div#results
{
font-size: xx-large; 
background-color: #80ff80;
}
div#add_to_deck
{
font-size: large; 
border: thin solid black;
background-color: #addfff;
}
span#simplified_character
{
font-size: 300%;
}
.character
{
font-size: 400%;
}
.pinyin
{
font-size: xx-large;
}
.english
{
font-size: xx-large;
}
.simp
{
font-size: 300%;
}
.trad
{
font-size: 300%;
}.simplified
{
font-size: 300%;
}
.traditional
{
font-size: 300%;
}