body{
font-family: GungSeo,PMingLiU,MingLiU,Times New Roman,Times,serif; 
}
div#lookup
{
font-size: xx-large; 
background-color: #00ffff; 
}
div#results
{
font-size: xx-large; 
background-color: #80ff80;
}
div#add_to_deck
{
font-size: xx-large; 
background-color: #80ff80;
}
span#simplified_character
{
font-size: 300%;
}
.character
{
font-size: 300%;
}
.pinyin
{
font-size: xx-large;
}
.english
{
font-size: xx-large;
}
.simp
{
font-size: 300%;
}
.trad
{
font-size: 300%;
}.simplified
{
font-size: 300%;
}
.traditional
{
font-size: 300%;
}